version: "3"

services:

 redistest:
        image: redis
        restart: on-failure
        hostname: redistest
        ports:
         - "6381:6379"
        networks:
         - backend

 rabbitmqtest:
        image: rabbitmq:3-management
        restart: on-failure
        hostname: rabbitmqtest
        environment:
           RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
           RABBITMQ_DEFAULT_USER: "admin"
           RABBITMQ_DEFAULT_PASS: "4vKrF76e"
           RABBITMQ_DEFAULT_VHOST: "/"
        ports:
         - "15674:15672"
         - "5674:5672"
        networks:
         - backend


 fpmtest:
        build:
         context: ./fpm
        volumes:
         - /opt/lampp/htdocs/health:/var/www/html/vhosts:rw
         - ./supervisor:/etc/supervisor
        ports:
         - "9002:9000"
        hostname: fpmtest
        networks:
         - frontend
         - backend
        restart: on-failure
        depends_on:
         - redistest
         - rabbitmqtest

 webtest:
        build:
         context: ./web
        ports:
         - "80:80"
        volumes:
         - ./conf.d:/etc/nginx/conf.d
         - /opt/lampp/htdocs/health:/var/www/html/vhosts:rw
        hostname: webtest
        networks:
         - frontend
         - backend
        depends_on:
         - fpmtest
         - redistest
         - rabbitmqtest
        restart: on-failure

networks:
 frontend:
 backend:

